//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-pagination-description {
    display: table;
    width: 100%
}
.govuk-pagination-description__text {
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.govuk-keep-right {
    display: table; 
    margin-left: auto;
}
.govuk-totally-hidden {
    display: none;
}

.govuk-summary-list--no-border .govuk-summary-list__row_border {
    border-bottom: 1px solid #b1b4b6;
}
.govuk-button--align-centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.star-rating {
    display: table;
    margin-left: auto;
    margin-right: auto;

    .govuk-radios__item {
        display: table-cell;
        padding: 10px;

        .govuk-radios__label {
            margin-left: -5px;
        }

        .govuk-radios__label::before {
            border: none;
            content: url('/public/star/unselected.png');
            width: 48px;
            height: 48px;
            top: 0;
            left: 0;
        }

        .govuk-radios__input:focus+.govuk-radios__label:before {
            content: url('/public/star/active-unselected.png');
            box-shadow: none;
        }

        .govuk-radios__label_before_selected:before,
        .govuk-radios__input:checked+.govuk-radios__label:before {
            content: url('/public/star/selected.png');
        }

        .govuk-radios__input:checked:focus+.govuk-radios__label:before {
            content: url('/public/star/active-selected.png');
            box-shadow: none;
        }

        .govuk-radios__input:checked+.govuk-radios__label::after {
            display: none;
        }
    }
}
.govuk-summary-list__heading-row {
    border: 1px solid $govuk-border-colour;

    .govuk-summary-list__row:first-child {
        background-color: govuk-colour("light-grey");

        .govuk-summary-list__actions {
            font-weight: 700;
        }
    }

    .govuk-summary-list__key {
        padding-left: 15px;
    }

    .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions)>:last-child {
        padding-right: 15px;
    }
}
.govuk-display-none-from-desktop {
    @include govuk-media-query($from: desktop) {
        display: none;
    }
}

.govuk-display-none-until-desktop {
    @include govuk-media-query($until: desktop) {
        display: none;
    }
}