//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

/******************************************************/
/* Pagination description                             */
/******************************************************/
.govuk-pagination-description {
    display: table;
    width: 100%
}
.govuk-pagination-description__text {
    height: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

/******************************************************/
/* Star Rating                                        */
/******************************************************/
.star-rating {
    display: table;
    margin-left: auto;
    margin-right: auto;

    .govuk-radios__item {
        display: table-cell;
        padding: 10px;

        .govuk-radios__label {
            margin-left: -5px;
        }

        .govuk-radios__label::before {
            border: none;
            content: url('/public/star/unselected.png');
            width: 48px;
            height: 48px;
            top: 0;
            left: 0;
        }

        .govuk-radios__input:focus+.govuk-radios__label:before {
            content: url('/public/star/active-unselected.png');
            box-shadow: none;
        }

        .govuk-radios__label_before_selected:before,
        .govuk-radios__input:checked+.govuk-radios__label:before {
            content: url('/public/star/selected.png');
        }

        .govuk-radios__input:checked:focus+.govuk-radios__label:before {
            content: url('/public/star/active-selected.png');
            box-shadow: none;
        }

        .govuk-radios__input:checked+.govuk-radios__label::after {
            display: none;
        }
    }
}

/******************************************************/
/* Summar list hacks                                  */
/******************************************************/
.govuk-summary-list--no-border .govuk-summary-list__row_border {
    border-bottom: 1px solid #b1b4b6;
}

.govuk-summary-list__heading-row.govuk-summary-list--no-border .govuk-summary-list__row:first-child:not(:only-child) {
    border-bottom: 1px solid $govuk-border-colour;
}

.govuk-summary-list__heading-row {
    border: 1px solid $govuk-border-colour;

    .govuk-summary-list__row:first-child {
        background-color: govuk-colour("light-grey");
        
        @include govuk-media-query($until: tablet) {
            padding-left: 15px;
            padding-top: 15px;
        }

        .govuk-summary-list__actions {
            font-weight: 700;
        }
    }
    .govuk-summary-list__row:last-child {
        border: 0;
    }
    .govuk-summary-list__row
    {
        @include govuk-media-query($until: tablet) {
            padding-left: 15px;
        }
    }
    .govuk-summary-list__row:only-child
    {
        @include govuk-media-query($until: tablet) {
            margin-bottom: auto;
            padding-bottom: 1px;
        }
    }

    .govuk-summary-list__key {
        @include govuk-media-query($from: tablet) {
            padding-left: 15px;
        }
    }

    .govuk-summary-list__row:not(.govuk-summary-list__row--no-actions)>:last-child {
        @include govuk-media-query($from: tablet) {
            padding-right: 15px;
        }
    }
}

/******************************************************/
/* Heading groups                                     */
/*    Alows caption below heading                     */
/******************************************************/
.govuk-heading-group {

    .govuk-heading-xl,
    .govuk-heading-l,
    .govuk-heading-m,
    .govuk-heading-s {
        margin-bottom: 0;
    }

    .govuk-caption-xl {
        @include govuk-responsive-margin(8, "bottom");
    }

    .govuk-caption-l {
        @include govuk-responsive-margin(6, "bottom");
    }

    .govuk-caption-m,
    .govuk-caption-s {
        @include govuk-responsive-margin(4, "bottom");
    }
}

/******************************************************/
/* Button hacks                                       */
/******************************************************/
.govuk-button--align-centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.govuk-button--width-full {
    width: 100%;
}

/******************************************************/
/* Hidden accordion controls                          */
/******************************************************/
.govuk-accordion__controls-hidden {
    .govuk-accordion__controls {
        display: none;
    }
}

/******************************************************/
/* Section colours                                    */
/******************************************************/
.govuk-section-header {
    background-color: govuk-colour("light-grey");
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(4, "bottom");
}

/******************************************************/
/* Service navigation hacks                           */
/*    Fix padding for mobile                          */
/******************************************************/
.govuk-service-navigation__side-navigation {
    @include govuk-responsive-padding(2, "top");
    @include govuk-responsive-margin(2, "bottom");
}

/******************************************************/
/* Generic Styles                                     */
/******************************************************/
.govuk-display-none-from-desktop {
    @include govuk-media-query($from: desktop) {
        display: none;
    }
}
.govuk-display-none-until-desktop {
    @include govuk-media-query($until: desktop) {
        display: none;
    }
}
.govuk-display-none-from-tablet {
    @include govuk-media-query($from: tablet) {
        display: none;
    }
}
.govuk-display-none-until-tablet {
    @include govuk-media-query($until: tablet) {
        display: none;
    }
}
.govuk-keep-right {
    display: table; 
    margin-left: auto;
}
.govuk-totally-hidden {
    display: none;
}

/******************************************************/
/* Min height for main container                      */
/******************************************************/
.govuk-width-container + .govuk-width-container {
    min-height: calc(100vh - 339px);
}

/******************************************************/
/* Dark mode                                          */
/******************************************************/
/*
@media screen and (prefers-color-scheme: dark) {
    body.govuk-template__body {
      background-color: #191919;
      color: govuk-colour("white");
    }
    header.govuk-header, div.govuk-header__container {
      border-bottom: 10px solid #1d70b8;
    }
    .app-related-items {
      border-top: 10px solid #1d70b8;
    }
    h1, h2, h3, h4, h5, h6, p,
    .govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-heading-xs,
    .govuk-list, .govuk-table, .govuk-inset-text, .govuk-label, .govuk-task-list__name-and-hint, 
    .govuk-summary-list,
    .moj-sub-navigation__link[aria-current=page] {
      color: govuk-colour("white") !important;
    }
    a:link, .govuk-link:link {
      color: #5694CA;
    }
    a:visited, .govuk-link:visited {
      color: #DA3984;
    }
    a:hover, .govuk-link:hover {
      color: lighten(#5694CA, 10%);
    }
    a:active, .govuk-link:active {
      color: $govuk-link-active-colour;
    }
    .govuk-back-link, .govuk-breadcrumbs__link {
      color: govuk-colour("white") !important;
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: govuk-colour("white") !important;
      }
    }
    .govuk-caption-xl, .govuk-caption-l, .govuk-caption-m, .govuk-caption-s, .govuk-caption-xs {
      color: govuk-colour("dark-grey");
    }
    .govuk-section-header .govuk-caption-xl, 
    .govuk-section-header .govuk-caption-l,
    .govuk-section-header .govuk-caption-m,
    .govuk-section-header .govuk-caption-s, 
    .govuk-section-header .govuk-caption-xs {
      color: govuk-colour("light-grey");
    }
    .govuk-hint {
      color: govuk-colour("light-grey");
    }
    div.govuk-panel--confirmation {
      background-color: #008F4C;
    }
    button.govuk-button {
      background-color: #008F4C;
    }
    .js-step-title-text {
      color: govuk-colour("white");
    }
    .app-step-nav-header {
      background-color: govuk-colour("black");
    }
    .govuk-footer, .govuk-summary-card__title-wrapper, .govuk-section-header {
        background-color: govuk-colour("dark-grey") !important;
    }
  }
*/