{% extends "partnership-applications/details/layout.html" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    Direct partnership application (34853)
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Assignments' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Check assignments</h1>
            {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "1st check"
            },
            value: {
              text: "Emma Cotgreve"
            },
            actions: {
              items: [
                {
                  html: "<strong class='govuk-tag govuk-tag--blue'>In Progress</strong>"
                }
              ]
            }
          },
          {
            key: {
              text: "2nd check"
            },
            value: {
              text: "Unassigned"
            }
          },
          {
            key: {
              text: "Review"
            },
            value: {
              text: "Unassigned"
            }
          },
          {
            key: {
              text: "Secretary of state"
            },
            value: {
              text: "Unassigned"
            }
          }
          ]
      })}}
      
      {{ govukTable({
  caption: "Check assignment history",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: "Assigner"
    },
    {
      text: "Check"
    },
    {
      text: "Assignee"
    }
  ],
  rows: [
    [
      {
        text: "20 Sep 2024"
      },
      {
        text: "Simon Reeves"
      },
      {
        text: "1st check"
      },
      {
        text: "Emma Cotgreve"
      }
    ]
  ]
}) }}
  </div>
{% endblock %}
