{% extends "partnership-applications/details/layout.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    Direct partnership application (34853)
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Attachments' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Documents</h1>
      
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>No documents added</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
  </div>
{% endblock %}
