{% extends "partnership-applications/details/layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    Direct partnership application (34853)
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Checks' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Checks</h1>

{{ govukTable({
  caption: "1st Check",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Check"
    },
    {
      text: "Completed"
    },
    {
      text: "Completed by"
    }
  ],
  rows: [
    [
      {
        html: "All legal entities are<br />genuine and elegible"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All legal entities' Standard<br />Industrial Classification (SIC)<br /> are correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All registered addresses<br />are genuine and correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All information in this<br />application has been<br />checked"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "2nd Check",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Check"
    },
    {
      text: "Completed"
    },
    {
      text: "Completed by"
    }
  ],
  rows: [
    [
      {
        html: "Nomination type set"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "Regulatory function set"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "Review",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Check"
    },
    {
      text: "Completed"
    },
    {
      text: "Completed by"
    }
  ],
  rows: [
    [
      {
        html: "All legal entities are<br />genuine and elegible"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All legal entities' Standard<br />Industrial Classification (SIC)<br />are correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All registered addresses<br />are genuine and correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "All information in this<br />application has been<br />checked"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "Nomination type is correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ],
    [
      {
        html: "Regulatory functions are <br />correct"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "Secretary of State approval",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Check"
    },
    {
      text: "Completed"
    },
    {
      text: "Completed by"
    }
  ],
  rows: [
    [
      {
        html: "Application approved"
      },
      {
        text: ""
      },
      {
        text: ""
      }
    ]
  ]
}) }}
      
  </div>
{% endblock %}
