{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to list of assigned applications",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-background-light-grey">
      <div class="govuk-heading-group">
        {% block applicationHead %}
        {% endblock %}
      </div>
        {{ mojButtonMenu({
          items: [{
            text: "Assign 1st check",
            href: "#"
          }, {
            text: "Add new note",
            href: "#",
            classes: "govuk-button--secondary"
          }, {
            text: "Reassign",
            href: "#",
            classes: "govuk-button--secondary"
          }, {
            text: "Reset SLA's",
            href: "#",
            classes: "govuk-button--secondary"
          }]
        }) }}
        <script type="module">
          new MOJFrontend.ButtonMenu({
            container: document.querySelector(".moj-button-menu"),
            mq: "(min-width: 200em)",
            buttonText: "Actions"
          });
        </script>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

      {{ mojSideNavigation({
        label: 'Side navigation',
        items: [{
          text: 'Summary',
          href: 'Summary',
          active: activeTab == 'Summary'
        }, {
          text: 'Assignments',
          href: 'Assignments',
          active: activeTab == 'Assignments'
        }, {
          text: 'Legal entities (2)',
          href: 'LegalEntities',
          active: activeTab == 'LegalEntities'
        }, {
          text: 'Entites contacts',
          href: 'EntitesContacts',
          active: activeTab == 'EntitesContacts'
        }, {
          text: 'Authority details',
          href: 'AuthorityDetails',
          active: activeTab == 'AuthorityDetails'
        }, {
          text: 'Notes (0)',
          href: 'Notes',
          active: activeTab == 'Notes'
        }, {
          text: 'Checks',
          href: 'Checks',
          active: activeTab == 'Checks'
        }, {
          text: 'Queries (0)',
          href: 'Queries',
          active: activeTab == 'Queries'
        }, {
          text: 'Attachments (0)',
          href: 'Attachments',
          active: activeTab == 'Attachments'
        }]
      }) }}

    </div>
    <div class="govuk-grid-column-three-quarters">

        {% block applicationContent %}
        {% endblock %}
      
    </div>
  </div>

{% endblock %}
