{% extends "layouts/main.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Confirm agreement to setup the partnership
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/partnership-applications/details/new-note-answer" method="post">

        {{ govukCharacterCount({
          name: "new-note",
          id: "new-note",
          maxwords: 150,
          label: {
            text: "Add comment",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "Your comment will be displayed on the application only and will not show on the partnership details once the partnership is active.<br /><br />Comments are only visible internally in OSU."
          }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save comment"
          }) }}
          <a 
            class="govuk-link" 
            href="notes">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}