{% extends "partnership-applications/details/layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    Direct partnership application (34853)
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Notes' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Comments</h1>

      <p>
        Comments are internal and only visible to authorised internal staff.
      </p>

{{ govukButton({
  text: "Add comment",
  classes: "govuk-button--secondary",
  href: "new-note"
}) }}
      
{% if data['all-notes'] %}
  {% set noteRows = [] %}
 {% for note in data['all-notes'] %}
  {% set noteRows = noteRows | push([{text: note}]) %}
 {% endfor %}
 {{ govukTable({
  firstCellIsHeader: false,
  rows: noteRows})}}
{% else %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p>No comments added</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endif %}

      
  </div>
{% endblock %}
