{% extends "partnership-applications/details/layout.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    Direct partnership application (34853)
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Queries' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Queries to authority (0)</h1>

      <p>
        Queries are emailed to the application contact at the Primary authority.
      </p>

      {{ govukSummaryList({
        classes: "govuk-summary-list--no-border",
        rows: [
          {
            key: {
              html: "Clara Echo"
            },
            value: {
              text: "clara.echo@wakefield.gov.test"
            }
          }
          ]
      }) }}

{{ govukButton({
  text: "Send query to authority",
  classes: "govuk-button--secondary"
}) }}
      
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>No queries sent</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
  </div>
{% endblock %}
