{% extends "partnership-applications/details/layout.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application details
{% endblock %}

{% block applicationHead %}
  <h1 class="govuk-heading-l">
    34853 Partnership application
  </h1>
  <span class="govuk-caption-l">Confirmed by Organisation</span>
{% endblock %}

{% set activeTab = 'Queries' %}

{% block applicationContent %}

      <h1 class="govuk-heading-l">Queries</h1>
      
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>No queries added</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
  </div>
{% endblock %}
