{% extends "layouts/main.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Edit contact details
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Add contacts for all legal entities",
        href: "/partnership-application/contact-details/show-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/partnership-application/contact-details/edit/save-contact" method="post">

        {% call govukFieldset({
          legend: {
            text: "Edit contact for " +  data['selected-legal-entity'].legalName,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        <div id="organisations-contact-hint" class="govuk-hint">
          <p>
            {% set functions = [] %}
            {% for item in data['new-contact-regulatory-function'] %}
              {% set functions = functions | push(data['regulatory-functions'] | find('value', item) | value('text')) %}
            {% endfor %}
            {{ functions | join(', ')}}
          </p>
          <p>
            <a class='govuk-link' href='/partnership-application/contact-details/edit/copy-primary-contact'>Copy in primary contact for application details</a>
          </p>
        </div>

          {{ govukInput({
            label: {
              text: "First name"
            },
            id: "new-contact-first-name",
            name: "new-contact-first-name",
            value: data['new-contact-first-name'],
            autocomplete: "given-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "new-contact-last-name",
            name: "new-contact-last-name",
            value: data['new-contact-last-name'],
            autocomplete: "family-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Phone number"
            },
            classes: "govuk-!-width-two-thirds",
            id: "new-contact-phone-number",
            name: "new-contact-phone-number",
            value: data['new-contact-phone-number'],
            autocomplete: "tel-national"
          }) }}

          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "new-contact-email-address",
            name: "new-contact-email-address",
            value: data['new-contact-email-address'],
            autocomplete: "email"
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/review-details">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
