{% extends "layouts/main.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Primary contact
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set errorList = [] %}
      {% if data['primary-first-name-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter first name",
              href: "#primary-first-name"
            }) 
        %}
      {% endif %}
      {% if data['primary-last-name-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter last name",
              href: "#primary-last-name"
            }) 
        %}
      {% endif %}
      {% if data['primary-phone-number-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter phone number",
              href: "#primary-phone-number"
            }) 
        %}
      {% endif %}
      {% if data['primary-email-address-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter email address",
              href: "#primary-email-address"
            }) 
        %}
      {% endif %}

      {% if errorList | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}


      <form class="form" action="/partnership-application/contact-details/primary-contact-answer" method="post">

        {% call govukFieldset({
          legend: {
            text: "Add primary organisation contact for the application",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        <div id="organisations-address-hint" class="govuk-hint">
          <p>Primary organisation contact will receive all application notifications for
            reviewing the application before it's sent to the Orrice for Product Safety and
            Standards
          </p>
        </div>

          {% set firstNameInput ={
            label: {
              text: "First name"
            },
            id: "primary-first-name",
            name: "primary-first-name",
            value: data['primary-first-name'],
            autocomplete: "given-name"
          } %}
          {% if data['primary-first-name-invalid'] %}
            {% set firstNameInput = firstNameInput | merge({
              errorMessage: {
                text: "Enter first name"
              }
            }) %}
          {% endif %}
          {{ govukInput(firstNameInput) }}

          {% set lastNameInput ={
            label: {
              text: "Last name"
            },
            id: "primary-last-name",
            name: "primary-last-name",
            value: data['primary-last-name'],
            autocomplete: "family-name"
          } %}
          {% if data['primary-last-name-invalid'] %}
            {% set lastNameInput = lastNameInput | merge({
              errorMessage: {
                text: "Enter last name"
              }
            }) %}
          {% endif %}
          {{ govukInput(lastNameInput) }}

          {% set phoneNumberInput ={
            label: {
              text: "Phone number"
            },
            classes: "govuk-!-width-two-thirds",
            id: "primary-phone-number",
            name: "primary-phone-number",
            value: data['primary-phone-number'],
            autocomplete: "tel-national",
            type: "tel"
          } %}
          {% if data['primary-phone-number-invalid'] %}
            {% set phoneNumberInput = phoneNumberInput | merge({
              errorMessage: {
                text: "Enter phone number"
              }
            }) %}
          {% endif %}
          {{ govukInput(phoneNumberInput) }}

          {% set emailAddressInput ={
            label: {
              text: "Email address"
            },
            id: "primary-email-address",
            name: "primary-email-address",
            value: data['primary-email-address'],
            autocomplete: "email",
            type: "email"
          } %}
          {% if data['primary-email-address-invalid'] %}
            {% set emailAddressInput = emailAddressInput | merge({
              errorMessage: {
                text: "Enter email address"
              }
            }) %}
          {% endif %}
          {{ govukInput(emailAddressInput) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save contact"
          }) }}
          <a 
            class="govuk-link" 
            href="{{ 
              data['redirected'] | 
              equals(
                true, 
                '/partnership-application/review-details', 
                '/partnership-application/redirect-done?redirect=/partnership-application/task-list'
              ) }}">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
