{% extends "layouts/local-authority.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – New contact details
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Add contacts for all legal entities",
        href: "/partnership-application/contact-details/show-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set errorList = [] %}
      {% if data['new-contact-first-name-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter first name",
              href: "#new-contact-first-name"
            }) 
        %}
      {% endif %}
      {% if data['new-contact-last-name-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter last name",
              href: "#new-contact-last-name"
            }) 
        %}
      {% endif %}
      {% if data['new-contact-phone-number-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter phone number",
              href: "#new-contact-phone-number"
            }) 
        %}
      {% endif %}
      {% if data['new-contact-email-address-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter email address",
              href: "#new-contact-email-address"
            }) 
        %}
      {% endif %}

      {% if errorList | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form class="form" action="/partnership-application/contact-details/add/save-contact" method="post">

        {% call govukFieldset({
          legend: {
            text: "Add contact for " +  data['selected-legal-entity'].legalName,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        <div id="organisations-contact-hint" class="govuk-hint">
          <p>
            {% set functions = [] %}
            {% for item in data['new-contact-regulatory-function'] %}
              {% set functions = functions | push(data['regulatory-functions'] | find('value', item) | value('text')) %}
            {% endfor %}
            {{ functions | join(', ')}}
          </p>
          <p>
            <a class='govuk-link' href='/partnership-application/contact-details/add/copy-primary-contact'>Copy details from primary organisation contact</a>
          </p>
        </div>

          {% set firstNameInput = {
            label: {
              text: "First name"
            },
            id: "new-contact-first-name",
            name: "new-contact-first-name",
            value: data['new-contact-first-name'],
            autocomplete: "given-name"
          } %}
          {% if data['new-contact-first-name-invalid'] %}
            {% set firstNameInput = firstNameInput | merge({
              errorMessage: {
                text: "Enter first name"
              }
            }) %}
          {% endif %}
          {{ govukInput(firstNameInput) }}

          {% set lastNameInput = {
            label: {
              text: "Last name"
            },
            id: "new-contact-last-name",
            name: "new-contact-last-name",
            value: data['new-contact-last-name'],
            autocomplete: "family-name"
          } %}
          {% if data['new-contact-last-name-invalid'] %}
            {% set lastNameInput = lastNameInput | merge({
              errorMessage: {
                text: "Enter last name"
              }
            }) %}
          {% endif %}
          {{ govukInput(lastNameInput) }}

          {% set phoneNumberInput = {
            label: {
              text: "Phone number"
            },
            classes: "govuk-!-width-two-thirds",
            id: "new-contact-phone-number",
            name: "new-contact-phone-number",
            value: data['new-contact-phone-number'],
            autocomplete: "tel-national",
            type: "tel"
          } %}
          {% if data['new-contact-phone-number-invalid'] %}
            {% set phoneNumberInput = phoneNumberInput | merge({
              errorMessage: {
                text: "Enter phone number"
              }
            }) %}
          {% endif %}
          {{ govukInput(phoneNumberInput) }}

          {% set emailAddressInput = {
            label: {
              text: "Email address"
            },
            id: "new-contact-email-address",
            name: "new-contact-email-address",
            value: data['new-contact-email-address'],
            autocomplete: "email",
            type: "email"
          } %}
          {% if data['new-contact-email-address-invalid'] %}
            {% set emailAddressInput = emailAddressInput | merge({
              errorMessage: {
                text: "Enter email address"
              }
            }) %}
          {% endif %}
          {{ govukInput(emailAddressInput) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/contact-details/add/regulatory-function">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
