{% extends "layouts/local-authority.html" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Select business area
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      },
      {
        text: "Select organisation",
        href: "/set-page?redirect=/partnership-application/legal-entities/select-organisation&indexKey=legal-entity-list-page-index&index=0"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/partnership-application/legal-entities/create-organisation/business-area-answer" method="post">

      {% if data['business-area-invalid'] %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select a business area",
              href: "#business-area"
            }
          ]
        }) }}
      {% endif %}

        {% set businessAreaSelect = {
          name: "business-area",
          value: data['business-area'],
          label: {
            text: "Business area"
          },
          items: data['business-areas']
        } %}

        {% if data['business-area-invalid'] %}
          {% set businessAreaSelect = businessAreaSelect | merge({
            errorMessage: {
              text: "Select business area"
            }
          }) %}
        {% endif %}
        
        {% call govukFieldset({
          legend: {
            text: "Select the legal entities' business area",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukSelect(businessAreaSelect) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/legal-entities/create-organisation/organisation-address">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
