{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Have companies house number
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      },
      {
        text: "Select organisation",
        href: "/partnership-application/legal-entities/select-organisation"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set errorList = [] %}
      {% if data['companies-house-number-error'] %}
        {% set errorList = errorList | push({
              text: "Check that the Companies house number is correct",
              href: "#companies-house-number"
            }) 
        %}
      {% endif %}
      {% if data['have-companies-house-number-invalid'] %}
        {% set errorList = errorList | push({
              text: "Select if you have access to the Companies house number",
              href: "#have-companies-house-number"
            }) 
        %}
      {% endif %}

      {% if errorList | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <!-- This is a route stored in routes.js -->
      <form class="form" action="/partnership-application/legal-entities/create-organisation/companies-house-answer" method="post">
      
        {% set companiesHouseInputOptions = {
          id: "companies-house-number",
          name: "companies-house-number",
          value: data['companies-house-number'],
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Companies house number"
          }
        } %}

        {% if data['companies-house-number-error'] %}
          {% set companiesHouseInputOptions = companiesHouseInputOptions | merge({
            errorMessage: {
              text: "Check that the number you entered is correct"
            }
          }) %}
        {% endif %}

        {% set companiesHouseHtml %}
        {{ govukInput(companiesHouseInputOptions) }}
        {% endset -%}

        {% set haveCompaniesHousenumberRadio = {
          name: "have-companies-house-number",
          value: data['have-companies-house-number'],
          fieldset: {
            legend: {
              text: "Do you have access to the Companies House number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: companiesHouseHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        } %}
        {% if data['have-companies-house-number-invalid'] %}
          {% set haveCompaniesHousenumberRadio = haveCompaniesHousenumberRadio | merge({
            errorMessage: {
              text: "Select if you have access to the Companies house number"
            }
          }) %}
        {% endif %}
        {{ govukRadios(haveCompaniesHousenumberRadio) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/legal-entities/create-organisation/legal-entity-type">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
