{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Organisation name
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      },
      {
        text: "Select organisation",
        href: "/set-page?redirect=/partnership-application/legal-entities/select-organisation&indexKey=legal-entity-list-page-index&index=0"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/partnership-application/legal-entities/create-organisation/organisation-name-answer" method="post">

        {% if data['legal-name-invalid'] %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Enter the registered legal name",
                href: "#legal-name"
              }
            ]
          }) }}
        {% endif %}

        {% call govukFieldset({
          legend: {
            text: "What is the name of the legal entity?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {% set organisationInput = {
          label: {
            text: "Registered legal name"
          },
          id: "legal-name",
          name: "legal-name",
          value: data['legal-name']
        } %}
        {% if data['legal-name-invalid'] %}
          {% set organisationInput = organisationInput | merge({
            errorMessage: {
              text: "Enter the registered legal name"
            }
          }) %}
        {% endif %}
        {{ govukInput(organisationInput) }}

        {{ govukInput({
          label: {
            text: "Trading name (optional)"
          },
          id: "trading-name",
          name: "trading-name",
          value: data['trading-name']
        })}}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/legal-entities/create-organisation/have-companies-house-number">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
