{% extends "layouts/main.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Organisation confirmation
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      },
      {
        text: "Select organisation",
        href: "/partnership-application/legal-entities/select-organisation/set-page?index=0"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['is-organisation-correct-invalid'] %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: "Select an option",
                href: "#is-organisation-correct"
              }
            ]
          }) }}
        {% endif %}

      <h1 class="govuk-heading-l">
        Is this the organisation you want to form a partnership with?
      </h1>

      <p>
        These details are from companies house.
      </p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Companies house number"
            },
            value: {
              text: data['new-organisation'].companiesHouseNumber
            }
          },
          {
            key: {
              text: "Legal name"
            },
            value: {
              text: data['new-organisation'].legalName
            }
          },
          {
            key: {
              text: "Trading name"
            },
            value: {
              text: data['new-organisation'].tradingName
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: data['new-organisation'].address | values | join ("<br />")
            }
          }
        ]
      }) }}

      <form class="form" action="/partnership-application/legal-entities/create-organisation/confirm-organisation-answer" method="post">
      
        {% set isOrganisationCorrectRadios = {
            name: "is-organisation-correct",
            items: [
              {
                value: "yes-add",
                text: "Yes, add organisation to my application"
              },
              {
                value: "no-search",
                text: "No, search again"
              },
              {
                value: "no-enter-manually",
                text: "No, enter details manually"
              }
            ]
          } %}

        {% if data['is-organisation-correct-invalid'] %}
          {% set isOrganisationCorrectRadios = isOrganisationCorrectRadios | merge({
            errorMessage: {
              text: "Select an option"
            }
          }) %}
        {% endif %}

        {{ govukRadios(isOrganisationCorrectRadios) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/legal-entities/create-organisation/have-companies-house-number">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
