{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Organisation address
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      },
      {
        text: "Select organisation",
        href: "/partnership-application/legal-entities/select-organisation"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set errorList = [] %}
      {% if data['address-line-1-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter address line 1",
              href: "#address-line-1"
            }) 
        %}
      {% endif %}
      {% if data['address-town-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter town or city",
              href: "#address-town"
            }) 
        %}
      {% endif %}
      {% if data['address-postcode-invalid'] %}
        {% set errorList = errorList | push({
              text: "Enter postcode",
              href: "#address-postcode"
            }) 
        %}
      {% endif %}

      {% if errorList | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form class="form" action="/partnership-application/legal-entities/create-organisation/new-organisation-answer" method="post">

        {% call govukFieldset({
          legend: {
            text: "What is the legal entity's official registered address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        
        <div id="organisations-address-hint" class="govuk-hint">
          <p>Address must be a physical location where notices, letters and reminders can be delivered to the company.</p>
        </div>

          {% set addressLine1Input = {
            label: {
              text: "Address line 1"
            },
            id: "address-line-1",
            name: "address-line-1",
            value: data['address-line-1'],
            autocomplete: "address-line1"
          } %}
          {% if data['address-line-1-invalid'] %}
            {% set addressLine1Input = addressLine1Input | merge({
              errorMessage: {
                text: "Enter address line 1"
              }
            }) %}
          {% endif %}
          {{ govukInput(addressLine1Input) }}

          {{ govukInput({
            label: {
              text: "Address line 2 (optional)"
            },
            id: "address-line-2",
            name: "address-line-2",
            value: data['address-line-2'],
            autocomplete: "address-line2"
          }) }}

          {% set addressTownInput = {
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "address-town",
            value: data['address-town'],
            autocomplete: "address-level2"
          } %}
          {% if data['address-town-invalid'] %}
            {% set addressTownInput = addressTownInput | merge({
              errorMessage: {
                text: "Enter address town or city"
              }
            }) %}
          {% endif %}
          {{ govukInput(addressTownInput) }}

          {{ govukInput({
            label: {
              text: "County (optional)"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-county",
            name: "address-county",
            value: data['address-county']
          }) }}

          {% set addressPostcodeInput = {
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "address-postcode",
            value: data['address-postcode'],
            autocomplete: "postal-code"
          } %}
          {% if data['address-postcode-invalid'] %}
            {% set addressPostcodeInput = addressPostcodeInput | merge({
              errorMessage: {
                text: "Enter address postcode"
              }
            }) %}
          {% endif %}
          {{ govukInput(addressPostcodeInput) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/partnership-application/legal-entities/create-organisation/organisation-name">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
