{% extends "layouts/main.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set organisations = "./app/data/organisations.json" | read_json %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} - Select Organisation
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      },
      {
        text: "Legal entities",
        href: "/partnership-application/legal-entities/show-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add a legal entity to the application</h1>
      <p>Select a legal entity from the primary authority register's own library or choose to create a new legal entity.
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ govukButton({
        text: "Create a new legal entity",
        classes: "govuk-button--secondary",
        href: "/partnership-application/legal-entities/create-organisation/legal-entity-type"
      }) }}
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        Primary authority register's library:
      </h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukInput({
            id: "search-input",
            name: "searchInput",
            attributes: { placeholder: "Search" },
            formGroup: {
              classes: "govuk-!-margin-bottom-0",
              afterInput: {
                html: "<button type='submit' class='govuk-button govuk-!-margin-left-5' data-module='govuk-button'>Search</button>"
              }
            }
          }) }}
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p><span class="govuk-!-font-weight-bold">{{ organisations | length }} results</span></p>
        </div>
        <div class="govuk-grid-column-one-half">
          {{ govukSelect({
            id: "sort",
            name: "sort",
            formGroup: {
              classes: "govuk-keep-right govuk-!-margin-bottom-0"
            },
            label: {
              text: "Sort by"
            },
            items: [
              {
                value: "created",
                text: "Recently created",
                selected: true
              },
              {
                value: "updated",
                text: "Recently updated"
              }
            ]
          }) }}
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% set newArray = [] %}
    {% for item in organisations %}
        {% set newItem =           
          [{
            html: "<span class='govuk-!-font-weight-bold'>"+ item.legalName + "</span>"
          },
          {
            text: item.legalName
          },
          {
            text: item.companiesHouseNumber
          },
          {
            html: item.address | values | join ("<br />")
          },
          {
            text: item.groupName
          },
          {
            html: "<a href='/partnership-application/legal-entities/select-partnership?index=" + loop.index0 +"' role='button' draggable='false' class='govuk-button govuk-button--secondary' data-module='govuk-button' contenteditable='false' style='cursor: pointer;'>Select</a>"
          }] %}
        {% set newArray = (newArray.push(newItem), newArray) %}
    {% endfor %}

    {{ govukTable({
      head: [
        {
          text: "Legal name"
        },
        {
          text: "Trading name"
        },
        {
          text: "Companies house number"
        },
        {
          text: "Address"
        },
        {
          text: "Group name of legal entities"
        },
        {
          text: ""
        }
      ],
      rows: newArray | skip(0) | take(10)
    }) }}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          {{ govukPagination({
            next: {
              href: "#"
            },
            items: [
              {
                number: 1,
                current: true,
                href: "#"
              },
              {
                number: 2,
                href: "#"
              },
              {
                number: 3,
                href: "#"
              }
            ]
          }) }}
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="govuk-pagination-description">
            <p class="govuk-body govuk-pagination-description__text">
              Showing items <span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">10</span> of <span class="govuk-!-font-weight-bold">{{ organisations | length }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
