{% extends "layouts/main.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% set allPartnerships = "./app/data/partnerships.json" | read_json %}
{% set partnerships = allPartnerships | searchArray("State", "Confirmed") | take(3) %}

{% set pageName="Partnership applications - Mine" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Applications
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ mojSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: "Assigned to me",
    href: '/partnership-applications/assigned-to-me',
    active: true
  }, {
    text: "All applications",
    href: '/partnership-applications/all-applications'
  }]
}) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
  {% set rows = [] %}
    {% for partnership in partnerships %}
      {% set row = [
          {
            html: "<a href='/partnership-applications/details/summary' class='govuk-link'>" + partnership.Id + "</a>"
          },
          {
            text: "Partnership"
          },
          {
            text: partnership["Primary Authority"]
          },
          {
            text: partnership.Organisation
          },
          {
            text: partnership["Partnership Type"]
          }] %}
      {% if partnership.State == "Confirmed" %}
        {% set row = row | push({
            html: "<strong class='govuk-tag govuk-tag--blue govuk-!-text-align-centre'>Confirmed By Organisation</strong>"
          }) %}
      {% elif partnership.State == "Awaiting" %}
        {% set row = row | push({
            html: "<strong class='govuk-tag govuk-tag--yellow govuk-!-text-align-centre'>Awaiting Organisation</strong>"
          }) %}
      {% elif partnership.State == "Disputed" %}
        {% set row = row | push({
            html: "<strong class='govuk-tag govuk-tag--red govuk-!-text-align-centre'>Queried By Organisation</strong>"
          }) %}
      {% endif %}
      {% set rows = rows | push(row) %}
    {% endfor %}

        {{ govukTable({
      head: [
        {
          text: "Id"
        },
        {
          text: "Application"
        },
        {
          text: "Primary Authority"
        },
        {
          text: "Partner"
        },
        {
          text: "Partnership type"
        },
        {
          text: " "
        }
      ],
      rows: rows | skip((data['assigned-to-me-page-index'] * 10)) | take(10)
        })
    }}

    {% if (rows | length) > 10 %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop">
        {% set pagerObject = partnerships | createPager(data['assigned-to-me-page-index'], "/set-page?redirect=/partnership-applications/assigned-to-me&indexKey=assigned-to-me-page-index&index=") %}
        {{ govukPagination(pagerObject) }}
      </div>

      <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
        <div class="govuk-pagination-description">
          <p class="govuk-body govuk-pagination-description__text">
            Showing items<br /><span class="govuk-!-font-weight-bold">{{ (data['assigned-to-me-page-index'] * 10) + 1 }}</span> to <span class="govuk-!-font-weight-bold">{{ rows | length | min((data['assigned-to-me-page-index'] * 10) + 10) }}</span> of <span class="govuk-!-font-weight-bold">{{ rows | length }}</span></p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop">
        &nbsp;
      </div>

      <div class="govuk-grid-column-full govuk-grid-column-one-quarter-from-desktop">
        <div class="govuk-pagination-description">
          <p class="govuk-body govuk-pagination-description__text">
            Showing items<br /><span class="govuk-!-font-weight-bold">1</span> to <span class="govuk-!-font-weight-bold">{{ rows | length }}</span> of <span class="govuk-!-font-weight-bold">{{ rows | length }}</span></p>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}