{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>848394</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We have sent you a confirmation email.
      </p>

      <p>
        We have sent an email for the organisation to review the application to the primary organisation contact:
      </p>
      <p>
        <a class="govuk-link" href="mailto:{{ data['primary-email-address']}}">{{ data['primary-email-address']}}</a>
      </p>

      <p>
        Once the organisation has confirmed the application, it will be sent to the Office for Product Safety and Standards (OPSS)
        for review. They will contact you when the partnership has been approved or if more information is needed.
      </p>

      <p>If you have any queries, contact OPSS at<br />
        <a class="govuk-link" href="mailto:pa@businessandtrade.gov.uk">pa@businessandtrade.gov.uk</a>
      </p>

      <p>
        <a class="govuk-link" href="/partnership-table/draft-applications">View all draft applications</a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form class="form" action="/partnership-application/confirmation" method="post">

        {% if(data['star-rating'] == undefined) %}
          {% call govukFieldset({
                    legend: {
                      text: "Overall, how would you rate your experience with the Primary Authority Register today?",
                      classes: "govuk-fieldset__legend--m",
                      isPageHeading: false
                    }
                  }) %}

            {{ govukRadios({
              name: "star-rating",
              items: [
                {
                  value: "1",
                  text: "Very satisfied"
                },
                {
                  value: "2",
                  text: "Satisfied"
                },
                {
                  value: "3",
                  text: "Neither satisfied or dissatisfied"
                },
                {
                  value: "4",
                  text: "Dissatisfied"
                },
                {
                  value: "5",
                  text: "Very dissatisfied"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Submit and continue"
            }) }}

            {% endcall %}

          {% elseif(data['any-issues'] == undefined) %}
            <p class="govuk-body">
        <img src="/public/images/green-tick.png" style="height: 20px; margin-right: 5px;" /> Thank you for submitting your rating
      </p>

        <p>
          To help us improve our service, we'd like to know more about your experience today.
        </p>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "any-issues",
  fieldset: {
    legend: {
      text: "Did you experience any of the following issues?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [
    {
      value: "1",
      text: "I did not find what I was looking for"
    },
    {
      value: "2",
      text: "I found it difficult to navigate the service"
    },
    {
      value: "3",
      text: "The service lacks a feature I need"
    },
    {
      value: "4",
      text: "I was unable to load/refresh/enter a page"
    },
    {
      value: "5",
      text: "Other"
    },
    {
      divider: "or"
    },
    {
      value: "none",
      text: "I did not experience any issue",
      behaviour: "exclusive"
    }
  ]
}) }}

{{ govukCharacterCount({
  name: "improve-service",
  id: "improve-service",
  maxlength: 1200,
  label: {
    text: "How could we improve this service (optional)?",
    classes: "govuk-label--m",
    isPageHeading: false
  },
  hint: {
    text: "Do not include personal or financial information, like your National Insurance number or credit card details"
  }
}) }}
<div class="govuk-button-group">
        {{ govukButton({
          text: "Submit and Continue"
        }) }}

  {{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary",
    href: "/partnership-table/active-partnerships"
  }) }}
</div>

{% else %}
            <p class="govuk-body">
        <img src="/public/images/green-tick.png" style="height: 20px; margin-right: 5px;" /> Thank you for helping us to improve this service
      </p>
          {% endif %}
        </form>

    </div>
  </div>

{% endblock %}
