{% extends "layouts/main.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Confirm agreement to setup the partnership
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/partnership-application/confirm-agreement-answer" method="post">

      {% if data['confirm-agreement-invalid'] %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must meet all three criteria before you can continue",
              href: "#confirm-agreement"
            }
          ]
        }) }}
      {% endif %}

        {% call govukFieldset({
          legend: {
            text: "Confirm agreement to set up the partnership",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %} 

        {{ govukInsetText({
          text: "Before you can start a new application, make sure you have been in 
        contact with the organisation for the partnership and that a written summary
        document has been created detailing the partnership."
        }) }}
      
      <p>
        You must meet the below criteria before you can start.
      </p>

        {% set confirmAgreementCheckboxes = ({
            name: "confirm-agreement",
            items: [
              {
                value: "eligable",
                text: "The organisation is eligable to enter into a partnership"
              },
              {
                value: "suitable",
                text: "My local authority is suitable for nomination as the Primary authority"
              },
              {
                value: "summary",
                text: "A written summary detailing the partnership has been created"
              }
            ]
          }) %}

        {% if data['confirm-agreement-invalid'] %}
          {% set confirmAgreementCheckboxes = confirmAgreementCheckboxes | merge({
            errorMessage: {
              text: "You must meet all three criteria before you can continue"
            }
          }) %}
        {% endif %}

        {{ govukCheckboxes(confirmAgreementCheckboxes) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}