{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Application complete
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>848394</strong>"
      }) }}

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We have sent you a confirmation email.
      </p>

      <p>
        We have sent an email for the organisation to review the application to the primary organisation contact:
      </p>
      <p>
        <a class="govuk-link" href="mailto:{{ data['primary-email-address']}}">{{ data['primary-email-address']}}</a>
      </p>

      <p>
        Once the organisation has confirmed the application, it will be sent to the Office for Product Safety and Standards (OPSS)
        for review. They will contact you when the partnership has been approved or if more information is needed.
      </p>

      <p>If you have any queries, contact OPSS at<br />
        <a class="govuk-link" href="mailto:pa@businessandtrade.gov.uk">pa@businessandtrade.gov.uk</a>
      </p>

      <p>
        <a class="govuk-link" href="/partnership-table/draft-applications">View all draft applications</a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">    

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

TODO:
      <form class="form" action="/partnership-application/confirmation" method="post">
          {% call govukFieldset({
                    legend: {
                      text: "Overall, how would you rate your experience with the Primary Authority Register today?",
                      classes: "govuk-fieldset__legend--m",
                      isPageHeading: false
                    }
                  }) %}

            {{ govukRadios({
              name: "star-rating",
              items: [
                {
                  value: "1",
                  text: "Very satisfied"
                },
                {
                  value: "2",
                  text: "Satisfied"
                },
                {
                  value: "3",
                  text: "Neither satisfied or dissatisfied"
                },
                {
                  value: "4",
                  text: "Dissatisfied"
                },
                {
                  value: "5",
                  text: "Very dissatisfied"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Submit and continue"
            }) }}

          {% endcall %}
        </form>

    </div>
  </div>

{% endblock %}
