{% extends "layouts/main.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %}
  Parthership Application – {{ serviceName }} – Parthership Type
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/partnership-table/active-partnerships"
    },
    {
      text: "Apply for partnership",
      href: "/partnership-application/task-list"
    }
  ]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/partnership-application/partnership-type-answer" method="post">

      {% if data['partnership-type-invalid'] %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Select a partnership type",
              href: "#partnership-type"
            }
          ]
        }) }}
      {% endif %}

        {% set partnershipTypeRadios = {
          name: "partnership-type",
          id: "partnership-type",
          value: data['partnership-type'],
          fieldset: {
            legend: {
              text: "What kind of partnership are you applying for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          formGroup: {
          beforeInputs: {
            html: "<details class='govuk-details'>
                    <summary class='govuk-details__summary'>
                      <span class='govuk-details__summary-text'>
                        What is the difference between a direct and coordinated partnership?
                      </span>
                    </summary>
                    <div class='govuk-details__text'>
                      <p><b>Direct partnership</b> refers to a partnership between a local authority
                        and an organisation, such as a business looking to seek advice for
                        their own benefit.</p>
                      <p><b>Coordinated partnership</b> refers to a partnership between a local
                        authority and an organisation with members, such as franchisees,
                        looking to seek advice on behalf of their members.</p>
                    </div>
                  </details>"
          }
          },
          items: [
            {
              value: "direct",
              text: "Direct"
            },
            {
              value: "coordinated",
              text: "Coordinated"
            }
          ]
        } %}

        {% if data['partnership-type-invalid'] %}
          {% set partnershipTypeRadios = partnershipTypeRadios | merge({
            errorMessage: {
              text: "Select a partnership type"
            }
          }) %}
        {% endif %}

        {{ govukRadios(partnershipTypeRadios) }}

        {{ govukInput({
          id: "partnership-type-completed",
          name: "partnership-type-completed",
          value: "true",
          classes: "govuk-totally-hidden"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and Continue"
          }) }}
          <a 
            class="govuk-link" 
            href="{{ 
              data['redirected'] | 
              equals(
                true, 
                '/partnership-application/check-answers', 
                '/partnership-application/redirect-done?redirect=/partnership-application/task-list'
              ) }}">Back</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}