{% extends "layouts/main.html" %}

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Check answers
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if data['confirm-invalid'] %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must confirm all the provided details are correct",
              href: "#confirm"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        Review your information before submitting your application
      </h1>

      <h2 class="govuk-heading-m">
        Partnership details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Parthership type"
            },
            value: {
              text: data['partnership-type'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/partnership-type",
                  text: "Change",
                  visuallyHiddenText: "partnership type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Primary Authority details
      </h2>

      {% set contactRows = [] %}
      {% for sessionRegulatoryFunction in data['session-regulatory-functions'] %}
        {% set entityContacts = (data['regulatory-function-contacts'] or []) | searchArray('regulatoryFunction', sessionRegulatoryFunction)  %}
       {% for entityContact in entityContacts %}
        {% set contactRows = contactRows | push({
                  key: {
                    text: "Contact " + data['regulatory-functions'] | find('value', sessionRegulatoryFunction) | value('text')
                  },
                  value: {
                    html: [entityContact.firstName + " " + entityContact.lastName, entityContact.phoneNumber, entityContact.emailAddress] | select | join('<br />')
                  }
          }) %}
      {% endfor %}
      {% endfor %}

      {{ govukSummaryList({
          card: {
            title: {
              text: "Regulatory function contacts"
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/regulatory-function-contacts/show-list",
                  text: "Change"
                }
              ]
            }
          },
          classes: "govuk-summary-list--no-border",
          rows: contactRows
        }) }}

      <h2 class="govuk-heading-m">
        Organisation Details
      </h2>

      {% set organisationDetails = [] %}
      {% for legalEntity in data['legal-entites'] | select() %}
        {% set organisationDetails = organisationDetails | merge([{
                  key: {
                    text: "Registered legal name"
                  },
                  value: {
                    text: legalEntity.legalName
                  }
                },
                {
                  key: {
                    text: "Trading name"
                  },
                  value: {
                    text: legalEntity.tradingName
                  }
                },
                {
                  key: {
                    text: "Companies house number"
                  },
                  value: {
                    text: legalEntity.companiesHouseNumber
                  }
                },
                {
                  key: {
                    text: "Legal entity type"
                  },
                  value: {
                    text: data['legal-entity-types'] | find('value', legalEntity.legalEntityType) | value('text')
                  }
                },
                {
                  key: {
                    text: "Business area"
                  },
                  value: {
                    text: data['regulatory-functions'] | find('value', legalEntity.businessArea) | value('text')
                  }
                },
                {
                  key: {
                    text: "Registered address"
                  },
                  value: {
                    html: legalEntity.address | values | select() | join('<br />')
                  }
                },
                {
                  key: {
                    text: "Group name"
                  },
                  value: {
                    text: legalEntity.groupName
                  },
                  classes: "govuk-summary-list__row_border"
                }] ) %}
      {% endfor %}
      {{ govukSummaryList({
          card: {
            title: {
              text: "Legal entities"
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/legal-entities/show-list",
                  text: "Change"
                }
              ]
            }
          },
          classes: "govuk-summary-list--no-border",
          rows: organisationDetails
        }) }}
        
      {{ govukSummaryList({
          card: {
            title: {
              text: "Primary organisation contact"
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/contact-details/primary-contact",
                  text: "Change"
                }
              ]
            }
          },
          classes: "govuk-summary-list--no-border",
          rows: [{
                  key: {
                    text: "Contact"
                  },
                  value: {
                    html: [data['primary-first-name'] + " " + data['primary-last-name'], data['primary-phone-number'], data['primary-email-address']] | select | join('<br />')
                  }
          }]
        }) }}

      {% macro contactDetails(arr) %}
        {% for contact in arr %}
          {{ [contact.firstName + " " + contact.lastName, contact.phoneNumber, contact.emailAddress] | select | join("\n") | escape | nl2br  }}
        {% else %}
          No contact added
        {% endfor %}
      {% endmacro %}

      {% set regulatoryFunctionContacts = [] %}
      {% for legalEntity in data['legal-entites'] | select() %}
        {% set regulatoryFunctionContacts = regulatoryFunctionContacts | merge([{
                  key: {
                    text: "Legal entity name"
                  },
                  value: {
                    text: legalEntity.legalName
                  }
                }] ) %}
        {% for sessionRegulatoryFunction in data['session-regulatory-functions'] %}
          {% set entityContacts = legalEntity | search('legalEntityContacts', 'legalEntity', sessionRegulatoryFunction)  %}
          {% set contactRow = {
                  key: {
                    text: "Contact " + data['regulatory-functions'] | find('value', sessionRegulatoryFunction) | value('text')
                  },
                  value: {
                    html: contactDetails(entityContacts)
                  }
          } %}
          {% if loop.last == true %}
            {% set contactRow = contactRow | merge({classes: "govuk-summary-list__row_border"}) %}
          {% endif %}
          {% set regulatoryFunctionContacts = regulatoryFunctionContacts | push(contactRow) %}
        {% endfor %}
      {% endfor %}
      {{ govukSummaryList({
          card: {
            title: {
              text: "Regulatory function legal entity contacts"
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/contact-details/show-list",
                  text: "Change"
                }
              ]
            }
          },
          classes: "govuk-summary-list--no-border",
          rows: regulatoryFunctionContacts
        }) }}

      <h2 class="govuk-heading-m">
        Additional details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Additional partnership information (optional)"
            },
            value: {
              text: data['additional-information']
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/additional-information",
                  text: "Change",
                  visuallyHiddenText: "additional information"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/partnership-application/try-submit" method="post" novalidate>

        {% set confirmationCheckboxes = {
          name: "confirm",
          items: [
            {
              value: "confirm",
              text: "I confirm the details above are accurate to the best of my knowledge"
            }
          ]
        } %}

        {% if data['confirm-invalid'] %}
          {% set confirmationCheckboxes = confirmationCheckboxes | merge({
            errorMessage: {
              text: "You must confirm the details before you can continue"
            }
          }) %}
        {% endif %}

        {{ govukCheckboxes(confirmationCheckboxes) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}
          <a class="govuk-link" href="/partnership-application/task-list">Back</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
