{% extends "layouts/main.html" %}

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Check answers
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
      href: "/partnership-table/active-partnerships"
      },
      {
        text: "Apply for partnership",
        href: "/partnership-application/task-list"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if data['confirm-invalid'] %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "You must confirm all the provided details are correct",
              href: "#confirm"
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        Review your information before submitting your application
      </h1>

      <h2 class="govuk-heading-m">
        Partnership details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Parthership type"
            },
            value: {
              text: data['partnership-type'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/partnership-type",
                  text: "Change",
                  visuallyHiddenText: "partnership type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Organisation details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Primary contact for your organisation"
            },
            value: {
              html: [data['primary-first-name'] + " " +  data['primary-last-name'], data['primary-phone-number'], data['primary-email-address']] | select | join('<br />')
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/contact-details/primary-contact",
                  text: "Change",
                  visuallyHiddenText: "partnership type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Legal entities
      </h2>

      {% for legalEntity in data['legal-entites'] | select() %}

        {% set entityLoop = loop %}
        {% set additionalAddresses = [] %}
        {% for additionalAddress in legalEntity.additionalAddress or [] | select() %}
          {% set additionalAddresses = additionalAddresses | push({
                key: {
                  text: "Additional office address"
                },
                value: {
                  html: additionalAddress | values | select() | join ("<br />")
                },
                actions: {
                  items: [
                    {
                      href: "/partnership-application/additional-addresses/show-edit-address?entity=" + entityLoop.index0 + "&address=" + loop.index0,
                      text: "Change",
                      visuallyHiddenText: "address"
                    }
                  ]
                }
              }) %}
        {% endfor %}
        
        {% set additionalContacts = [] %}
        {% for additionalContact in legalEntity.legalEntityContacts or [] | select() %}
          {% set additionalContacts = additionalContacts | push({
            key: {
              text: "Contact " + data['regulatory-functions'] | find('value', additionalContact.legalEntity) | value('text')
            },
            value: {
              html: [additionalContact.firstName + " " + additionalContact.lastName, additionalContact.phoneNumber, additionalContact.emailAddress] | select() | join ("<br />")
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/contact-details/show-edit-contact?entity=" + entityLoop.index0 + "&contact=" + loop.index0,
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }) %}
        {% endfor %}

        {{ govukSummaryList({
          card: {
            title: {
              text: legalEntity.legalName
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/legal-entities/show-list",
                  text: "Change"
                }
              ]
            }
          },
          rows: [{
                  key: {
                    text: "Companies house number"
                  },
                  value: {
                    text: legalEntity.companiesHouseNumber
                  }
                },
                {
                  key: {
                    text: "Legal entity type"
                  },
                  value: {
                    text: data['legal-entity-types'] | find('value', legalEntity.legalEntityType) | value('text')
                  }
                },
                {
                  key: {
                    text: "Business area"
                  },
                  value: {
                    text: legalEntity.businessArea
                  }
                },
                {
                  key: {
                    text: "Registered address"
                  },
                  value: {
                    html: legalEntity.address | values | select() | join('<br />')
                  }
                }] | merge(additionalAddresses) | merge(additionalContacts)
        }) }}

      {% endfor %}


      <h2 class="govuk-heading-m">
        Additional details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Additional partnership information (optional)"
            },
            value: {
              text: data['additional-information']
            },
            actions: {
              items: [
                {
                  href: "/partnership-application/redirect?redirect=/partnership-application/additional-information",
                  text: "Change",
                  visuallyHiddenText: "additional information"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/partnership-application/try-submit" method="post" novalidate>

        {% set confirmationCheckboxes = {
          name: "confirm",
          items: [
            {
              value: "confirm",
              text: "I confirm the details above are accurate to the best of my knowledge"
            }
          ]
        } %}

        {% if data['confirm-invalid'] %}
          {% set confirmationCheckboxes = confirmationCheckboxes | merge({
            errorMessage: {
              text: "You must confirm the details before you can continue"
            }
          }) %}
        {% endif %}

        {{ govukCheckboxes(confirmationCheckboxes) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}
          <a class="govuk-link" href="/partnership-application/task-list">Back</a>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
