{% extends "layouts/local-authority.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Start
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "/partnership-table/active-partnerships"
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply for a new partnership
      </h1>

      <p>This form will let you apply for a Primary Authority Partnership with a chosen
        organisation.</p>
      <p> Before you can start a new application, you must have been in contact with
        the organisation and have a written summary document detailing the
        partnership.</p>

      <p>During the application you will need the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Summary document detailing the partnership</li>
        <li>The organisation's address and contact details</li>
        <li>Local Authority's contact details for each retulatory area</li>
      </ul>

      {{ govukButton({
        text: "Start",
        href: "/partnership-application/confirm-agreement",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}