{% extends "layouts/main.html" %}

{% block pageTitle %}
  Partnership Application – {{ serviceName }} – Task List
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Partnership Application</h1>      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-font-weight-bold">Parthership Application is incomplete</p>
      
      <p class="govuk-body">You have completed <span class="govuk-!-font-weight-bold">
        {% if (data['organisation-details-completed']) %}
          2
        {% elseif (data['partnership-type-completed']) %}
          1
        {% else %}
          0
        {% endif %}
      </span> of <span class="govuk-!-font-weight-bold">3</span> mandatory sections.</p>

      {% set cannotStartYetStatus = {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      } %}

      {% set notYetStartedStatus = {
        tag: {
          text: "Not yet started",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set legalEntityCountStatus = {
        tag: {
          text: data["legal-entites"] | length + " added",
          classes: data["legal-entites"] | length | equals(0, "govuk-tag--blue", "govuk-tag--green")
        }
      } %}

      {% set additionalAddressesCountStatus = {
        tag: {
          text: data["legal-entites"] | countArr('additionalAddress') + " added",
          classes: "govuk-tag--green"
        }
      } %}

      {% set contactsCountStatus = {
        tag: {
          text: data["legal-entites"] | countArr('legalEntityContacts') + " added",
          classes: data["legal-entites"] | isLegalEntityContactsComplete(data['session-regulatory-functions']) | equals(true, "govuk-tag--green", "govuk-tag--blue")
        }
      } %}

      {% set completedStatus = {
        tag: {
          text: "Completed",
          classes: "govuk-tag--green"
        } 
      } %}

      <h2 class="govuk-heading-m">1. Parthership Type</h2>
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Select partnership type"
            },
            href: "/partnership-application/partnership-type",
            status: (completedStatus if data['partnership-type'] else notYetStartedStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">2. Organisation details</h2>
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Add legal entity"
            },
            href: ("/partnership-application/legal-entities/show-list" if data['partnership-type-completed']),
            status: (legalEntityCountStatus if data['partnership-type-completed'] else cannotStartYetStatus)
          },
          {
            title: {
              text: "Additional addresses (optional)"
            },
            href: ("/partnership-application/additional-addresses/show-list" if data['legal-entites-completed']),
            status: (additionalAddressesCountStatus if data['legal-entites-completed'] else cannotStartYetStatus)
          },
          {
            title: {
              text: "Add primary contact details"
            },
            href: ("/partnership-application/contact-details/primary-contact" if data['legal-entites-completed']),
            status: (completedStatus if data['primary-first-name'] else (notYetStartedStatus if data['legal-entites-completed'] else cannotStartYetStatus))
          },
          {
            title: {
              text: "Add contacts for legal entity"
            },
            href: ("/partnership-application/contact-details/show-list" if data['legal-entites-completed']),
            status: (contactsCountStatus if data['contacts-completed'] else (notYetStartedStatus if data['legal-entites-completed'] else cannotStartYetStatus))
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">3. Additional details (optional)</h2>
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Add any other information"
            },
            href: ("/partnership-application/additional-information" if data['contacts-completed']),
            status: (completedStatus if data['additional-information'] else (notYetStartedStatus if data['contacts-completed'] else cannotStartYetStatus))
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">4. Review and submit</h2>
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Review all details and submit"
            },
            href: ("/partnership-application/review-details" if data['contacts-completed']),
            status: (notYetStartedStatus if data['contacts-completed'] else cannotStartYetStatus)
          }
        ]
      }) }}

    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <h3 class="govuk-heading-s">
        Local Authority:
      </h3>
        <ul class="govuk-list">
          <li>
            Milton Keynes Council
          </li>
        </ul>
      <h3 class="govuk-heading-s">
        Regulatory functions:
      </h3>
        <ul class="govuk-list">
          {% for item in data['session-regulatory-functions'] %}
            <li>{{ data['regulatory-functions'] | find('value', item) | value('text') }}</li>
          {% else %}
            <li>None</li>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
